.-img .my-flex-box {
	z-index: 100;
}
.-img:after {
	content: " ";
    background-color: #393c4b;
    position: absolute;
    left: 0;
    right: 0;
	height: 540px;
	z-index: 1;
}

@media (max-width: 460px) {
.-img:after {
	height: 940px;
}
}

.menu-column-item-link.intec-cl-text-hover[href="/contacts/"] {
	font-weight: bold;
	color: white !importatn;
}

.ns-bitrix.c-menu.c-menu-columns-1 .menu-column-item-link[href="/contacts/"] {
	font-weight: bold;
	color: white !important;
}

.my-flex-box:nth-child(2) {
  flex: 1 1 35%;
  margin-left: 40px;
  margin-top: 60px;
}

.wrapper-img {
	align-items: start;
}